/* リンク文字のhover */
.tip:hover {
	text-decoration:underline;
}

/* 閉じるボタン */
.tip_area .menu_close{
	position:absolute;
	top:87%;
	width:100%;
	text-align:center;
}

/* TIPレイヤー */
.tip_area {
	overflow:visible;
	padding:0;
	position:absolute;
	width:80%;
	height:80%;
	top:10%;
	left:10%;
	background:rgba(255,255,255, 0.8);
	border:2px solid #999;
	z-index:-1;
}

/* TIP表示部分 */
.tip_area dl {
	width:90%;
	height:80%;
	position:absolute;
	top:7%;
	left:5%;
}

/* TIP見出し部分 */
.tip_area dt {
	height:2em;
	padding:0 1em;
	text-align:left;
	line-height:2em;
	background:rgba(255,175,0, 0.6);
	text-shadow:#fff 1px 1px 1px, #fff -1px 1px 1px,
             #fff 1px -1px 1px, #fff -1px -1px 1px;
}

/* TIPコメント部分 */
.tip_area dd {
	height:75%;
	padding:1em;
	font-weight:normal;
	line-height:1.5;
	text-align:left;
	overflow:auto;
}

/* パラメータで設定した画像エリア */
.tip_area dd .tip_img {
	float:right;
	margin: 10px;
	width: 250px;
	height: 250px;
	background-position:center -20px;
	border-radius:10px;
	box-sizing:border-box;
	border: 2px solid rgba(255,255,255,0);
}

/* パラメータで設定した画像エリアにつけてみた枠 */
.tip_area dd .tip_img:before {
	content:'';
	width: 250px;
	height: 250px;
	background: rgba(255,165,150,0.5);
	position: relative;
	display:block;
	z-index:-1;
	border-radius:10px;
	border:2px solid rgba(0,0,0,0.5);
	box-sizing:border-box;
}

/* TIPコメント部分のに直接入れた画像 */
.tip_area dd img {
	margin:10px;
}

/* TIPコメント部分の右寄せ */
/* TIPコメント部分には直接thmlタグも入れられますので<span class="right">などで指定できます。 */
.tip_area dd .right {
	float:right;
}




/*** 以下削除・変更禁止 ***/
.message_inner p span,
.img_next {
	position:relative;
	z-index:999;
}
.message_inner p span.tip {
	z-index:10000;
	cursor:pointer;
}
